@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("./Font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(
    90deg,
    #ff3bff 0%,
    #ecbfbf 38.02%,
    #5c24ff 75.83%,
    #d94fd5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-secondary {
  background: linear-gradient(90deg, #ff3bff 0%, #5c24ff 72.33%, #d94fd5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .gradient-newsletter {
  background: linear-gradient(
    90deg,
    #ff3bff 0%,
    #ecbfbf 38.02%,
    #5c24ff 75.83%,
    #d94fd5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.gradient-border {
  position: relative;
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(
      90deg,
      #ff3bff 0%,
      #ecbfbf 38.02%,
      #5c24ff 75.83%,
      #d94fd5 100%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.footer-bg {
  background: linear-gradient(8deg, #000 -71.32%, rgba(0, 0, 0, 0) 262.29%);
}

.features-gradient {
  background: linear-gradient(324deg, #10303d -18.41%, rgba(0, 0, 0, 0) 46.09%);
}

.ideal-startup-gradient {
  background: radial-gradient(
    39.28% 62.76% at 53.05% 50.88%,
    #3a0b3a 1.73%,
    rgba(0, 0, 0, 0) 100%
  );
}
.ideal-startup-gradient2 {
  background: radial-gradient(
    53.41% 55.41% at 41.37% 55.41%,
    #10303d 1.73%,
    rgba(0, 0, 0, 0) 100%
  );
}

.comapny-gradient {
  background: radial-gradient(
    43.44% 57.27% at 40.73% 51.67%,
    #10303d 1.73%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: cover;
  background-position: center;
}

.vision-gradient {
  background: radial-gradient(
    42.3% 45.99% at 58.72% 58.21%,
    #3a0b3a 1.73%,
    rgba(0, 0, 0, 0) 100%
  );
}

.sticky-gradient {
  background: rgb(247, 207, 48);
  background: linear-gradient(
    180deg,
    rgba(247, 207, 48, 0) 44%,
    rgba(243, 4, 191, 0.267) 97%
  );
}
